<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <group ns="$(arg uav_name)">

    <node pkg="nodelet" type="nodelet" name="control_test" args="standalone mrs_testing/ControlTest" output="screen">

      <rosparam file="$(find mrs_testing)/config/control_test.yaml" />

      <!-- Subscribers --> 
      <remap from="~odometry_in" to="odometry/odom_main" />
      <remap from="~position_command_in" to="control_manager/position_cmd" />
      <remap from="~tracker_status_in" to="control_manager/tracker_status" />

      <!-- Publisher --> 
      <remap from="~goto_out" to="control_manager/goto" />
      <remap from="~goto_relative_out" to="control_manager/goto_relative" />
      <remap from="~goto_altitude_out" to="control_manager/goto_altitude" />
      <remap from="~set_yaw_out" to="control_manager/set_yaw" />
      <remap from="~set_yaw_relative" to="control_manager/set_yaw_relative" />

      <remap from="~set_trajectory_out" to="control_manager/mpc_tracker/set_trajectory" />

      <!-- Services --> 
      <remap from="~switch_tracker_out" to="control_manager/switch_tracker" />
      <remap from="~motors_out" to="control_manager/motors" />
      <remap from="~headless_out" to="control_manager/mpc_tracker/headless" />
      <remap from="~arm_out" to="mavros/cmd/arming" />
      <remap from="~offboard_out" to="mavros/set_mode" />
      <remap from="~takeoff_out" to="uav_manager/takeoff" />
      <remap from="~land_out" to="uav_manager/land" />
      <remap from="~land_home_out" to="uav_manager/land_home" />
      <remap from="~fly_to_start_out" to="control_manager/mpc_tracker/fly_to_trajectory_start" />
      <remap from="~start_following_out" to="control_manager/mpc_tracker/start_trajectory_following" />

    </node>

  </group>

</launch>
