<launch>

  <arg name="UAV_NAME" default="" />

  <arg name="custom_config" default="$(find mrs_uav_testing)/config/default_mrs_simulator_config.yaml" />

  <include file="$(find mrs_multirotor_simulator)/launch/multirotor_simulator.launch">
    <arg name="custom_config" default="$(arg custom_config)" />
  </include>

</launch>
