<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)"/>
  <arg name="name" default="default_random_simulation" />

  <group>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mrs_uav_testing)/rviz/$(arg name).rviz">
      <param name="any_name" command="rosrun mrs_uav_testing scripts/random_simulation.sh" />
    </node>

  </group>

</launch>
