<launch>

  <include file="$(find mrs_simulation)/launch/simulation.launch" />

  <node pkg="mrs_simulation" type="spawn" name="spawn" output="screen" launch-prefix="bash -c 'sleep 5; $0 1 --t650 --run --delete --enable-rangefinder'" />

  <include file="$(find mrs_uav_general)/launch/core.launch" />

  <include file="$(find mrs_uav_testing)/launch/rviz.launch">
    <arg name="name" value="control_test" />
  </include>

  <include file="$(find mrs_uav_testing)/launch/control_test.launch">
    <arg name="start_with_takeoff" value="true" />
  </include>

</launch>
